a {
  color: #3256B6;
}

a:hover, a:visited:hover {
  color: #e00;
  text-decoration: none;
}

body {
  background-color: #999;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 80%;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 250%;
  font-weight: normal;
}

h2 {
  color: #666;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 140%;
  font-weight: normal;
  font-style:italic;
}

h3 {
  color: #333;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 180%;
  font-weight: normal;
  margin-top: 1.5em;
  margin-bottom: .5em;
}

p.price {
  font-size: 140%;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

#page {
  margin-left: 30px;
  margin-right: auto;
  width: 730px;
  text-align: left;
}

#header {
  height: 140px;
  color: black;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  padding: 0;
  text-align: center;
}

#navbar {
  background-color: #fc0;
  text-align: center;
  padding: 5px;
}

#site-title {
  color: white;
  font-size: 325%;
}

#site-title a, #site-title a:visited {
  color: white;
  text-decoration: none;
}

#site-title a:hover, #site-title a:hover {
  color: white;
  text-decoration: underline;
}

#site-subtitle {
  font-style: italic;
  letter-spacing: 2px;
  text-transform: lowercase;
}

#main {
  background-color: white;
  border-bottom: 4px solid #fc0;
  float: left;
  width: 100%;
}

#content-wrapper {
  float: left;
  width: 500px;
}

#content {
  padding: 25px;
  border-right: 1px dotted #a3a39c;
}

#content h1 {
  margin-top: 0;
}

#content h3 a {
  border-bottom: 1px dotted #a3a39c;
  display: block;
  padding-bottom: 2px;
  text-decoration: none;
}

#content p {
  line-height: 160%;
}

#content .info {
  color: #b0af99;
  font-size: 80%;
  margin-top: 1.5em;
}

#content .entry .info {
  margin-top: 1em;
}

#content .first.entry {
  background-color: #f7f3e8;
  margin: -25px;
  margin-bottom: 0;
  padding: 35px;
}

#content .first.entry h3 {
  margin-top: 0.25em;
}

#sidebar-wrapper {
  float: right;
  width: 225px;
}

#sidebar {
  font-size: 90%;
  padding: 15px;
  padding-top: 0px;
}

#sidebar h3 {
  font-size: 160%;
}

#sidebar p {
  line-height: 140%;
}

#sidebar ul {
  margin-left: 1.5em;
  padding: 0;
}

#sidebar li {
  margin-bottom: .25em;
}

#footer {
  color: #818cb0;
  float: left;
  font-size: 90%;
  padding-top: 1px;
  padding-bottom: 20px;
  width: 100%;
}

.section h3 {
  text-align: center;
}

.purchase {
  position: absolute;
  top: 300px;
  left: 75px;
}

.product_big {
  margin-left: 75px;
  margin-top: 30px;
}

/* Comments  */
div.comment {
  border-bottom: #888 solid 2px;
}

form label {
  display:block;

}

div.comments p{
  padding-left:15px;
}

div.comments p.author{
  color:#888;
}

div.error {
  background-color:#E9D1D6;
  padding: 0 0 0 8px;
}

div.post_comment div{
  margin-bottom:8px;
}

div.post_comment h3 {
  font-size:120%;
  font-weight:bold;
}

div.error p {
  color:red;
  padding:5px;
}